.row-singular{
    margin-top: 3%;
    margin-left: 5%;
}

.singular-back-button{
    margin-top: 1%;
    margin-left: 1%;
    font-family: 'Dosis';
}

.singular-product-name{
    font-family: 'Dosis';
}

.singular-details{
    font-family: 'Dosis';
}
