.moreinfo-opt{

    font-family : 'Dosis';
    text-decoration: none;
    color: black;
    margin: 10px;
    font-size: 35px;
}

.info-category-page{
    font-family : 'Dosis';
    padding: 30px;
    font-size: 50px;
}